@using OnlineTicariOtomasyon.Models.Siniflar

@model List<KargoDetay>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<br />
@using (Html.BeginForm("Index", "Kargo", FormMethod.Get))
{
    <p>
        Kargo Takip Numarası: @Html.TextBox("aranacakDeger")
        <input type="submit" value="Ara" />
    </p>

}

<table class="table table-bordered" style="margin-top:20px">
    <tr>

        <th>Personel</th>
        <th>Alıcı</th>
        <th>Takip Kodu</th>
        <th>Tarih</th>
        <th>Detaylar</th>
    </tr>


    @foreach (KargoDetay kargo in Model)
    {
        <tr>
            <td>@kargo.Personel</td>
            <td>@kargo.Alici</td>
            <td>@kargo.TakipKodu</td>
            <td>@kargo.Tarih</td>

            <td><a href="/Kargo/KargoTakip/@kargo.TakipKodu" class="btn btn-warning">Detaylar</a></td>

        </tr>
    }
</table>

<a href="/Kargo/YeniKargo" class="btn btn-info">Yeni Kargo Girişi</a>




